<!--bootstrap-->
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> --}}


<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Manager Page</title>
</head>

{{!-- Nav bar --}}
<nav class="nav-wrapper teal lighten-1">
    <div class="container">
        <a href="#" class="brand-logo">TM3K</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/manager">Manager</a></li>
            <li><a href="/supervisor">Supervisor</a></li>
            <li><a href="/worker">Worker</a></li>
        </ul>
    </div>
</nav>
{{!-- End Nav bar --}}



{{!-- page container --}}
<div class="container">
    <h2>Manager Utility Page</h2>

    <div class="row">

        <!-- column 1  -->
        <div class="col s12 m4 l4">

            {{!-- ADD TASK TYPE  --}}
            <div class="card darken-1">
                <div class="card-content teal-text">
                    <span class="card-title">Add Task Type</span>
                </div>
                <form>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="Set up desktop" id="taskName" type="text">
                        <label class="specialText" for="taskName">Task Name</label>
                    </div>
                </form>
                <div class="card-action center-align">
                    <button class="btn btn-blue" id="addTaskButton" type="submit">Submit</button>

                </div>

            </div>
            {{!-- END - ADD TASK TYPE --}}


            <!--  TASK LIST TABLE-->
            <div class="card darken-1">
                <div class="card-content teal-text">
                    <span class="card-title">Task List</span>
                </div>
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>Task ID</th>
                            <th>Task Name</th>
                        </tr>
                    </thead>
                    <tbody id="containerTaskList">
                    </tbody>
                </table>
            </div>
            <!--  TASK LIST TABLE-->

        </div>
        <!-- end column 1 -->



        <!-- column2 -->
        <div class="col s12 m4 l4">

            {{!-- ADD EMPLOYEE --}}
            <div class="card darken-1">
                <div class="card-content teal-text">
                    <span class="card-title">Add Employee</span>
                </div>
                <form>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="John Doe" id="employeeName" type="text">
                        <label for="employeeName">Employee Name:</label>
                    </div>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="2" id="employeeLevel" type="text">
                        <label for="employeeLevel">Employee Level:</label>
                    </div>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="john.doe@tm3k@gmail.com" id="employeeEmail"
                            type="text">
                        <label for="employeeEmail">Employee Email:</label>
                    </div>
                </form>
                <div class="card-action center-align">
                    <button class="btn btn-blue" id="addTaskButton" type="submit">Submit</button>
                </div>

            </div>
            {{!-- end ADD EMPLOYEE --}}


            <!--  EMPLOYEE LIST -->
            <div class="card darken-1">
                <div class="card-content teal-text">
                    <span class="card-title">Employee List</span>
                </div>
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                        </tr>
                    </thead>
                    <tbody id="containerEmployeeList">
                    </tbody>
                </table>
            </div>
            <!-- end EMPLOYEE LIST-->

        </div>
        <!-- end column2 -->




    {{!-- Column 3 --}}
        <div class="col s12 m4 l4">

        <!--  ALL JOBS-->
            <div class="card darken-1">
                <div class="card-content teal-text">
                    <span class="card-title">All Jobs</span>
                </div>
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee location</th>
                            <th>Employee job_desc</th>
                            <th>Employee job_status</th>
                        </tr>
                    </thead>
                    <tbody id="containerAllJobs">
                    </tbody>
                </table>
            </div>
            {{!-- end ALL JOBS --}}

        </div>
        {{!-- end Column 3 --}}

    </div>
</div>
{{!-- end Page container --}}

<!-- col 3 ends ALL JOBS -->

<!-- Custom Script -->
<script src="/js/manager.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
<script>
    (function ($) {
        $(function () {

            $('.sidenav').sidenav();

        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>