<!--bootstrap-->
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> --}}

<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Supervisor Page</title>
</head>

{{!-- Nav bar --}}
<nav class="nav-wrapper teal lighten-1">
    <div class="container">
        <a href="#" class="brand-logo">TM3K</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/manager">Manager</a></li>
            <li><a href="/supervisor">Supervisor</a></li>
            <li><a href="/worker">Worker</a></li>
        </ul>
    </div>
</nav>
{{!-- End Nav bar --}}

{{!-- page container --}}
<div class="container">
    <h2>Supervisor Utility Page</h2>
    <div class="row">
        <!-- column 1  -->
        <div class="col s12 m6 l6">
            {{!-- ADD EMPLOYEE --}}
            <div class="card darken-1">
                <div class="card-content teal-text">
                    <span class="card-title">Create Job</span>
                </div>
                <form>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="Install New Printer" id="jobName" type="text">
                        <label for="jobName">Job Name:</label>
                    </div>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="Minnetonka" id="jobLocation" type="text">
                        <label for="jobLocation">Job Location:</label>
                    </div>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="Installation" id="jobType" type="text">
                        <label for="jobType">Job Type:</label>
                    </div>
                    <div class="input-field">
                        <input class="form-control validate"
                            placeholder="High priority, complete by end of business day" id="jobDetails" type="text">
                        <label for="jobDetails">Details:</label>
                    </div>
                    <div class="input-field">
                        <input class="form-control validate" placeholder="John Doe" id="employeeAdd" type="text">
                        <label for="employeeAdd">Employee:</label>
                    </div>

                </form>
                <div class="card-action center-align">
                    <button class="btn btn-blue" id="addJobButton" type="submit">Submit</button>
                </div>

            </div>
            {{!-- end ADD EMPLOYEE --}}

        </div>
        {{!-- END COLUMN 1 --}}



        {{!-- Column 2 --}}
        <div class="col s12 m6 l6">
            <!--  ALL JOBS-->
            <div class="card darken-1">
                <div class="card-content teal-text">
                    <span class="card-title">All Jobs</span>
                </div>
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Location</th>
                            <th>Employee Job Description</th>
                            <th>Employee Job Status</th>
                        </tr>
                    </thead>
                    <tbody id="containerAllJobs">
                    </tbody>
                </table>
            </div>
            {{!-- end ALL JOBS --}}

        </div>
        {{!-- end Column 2 --}}

    </div>
</div>
{{!-- END PAGE CONTAINER --}}



<!-- Custom Script -->
<script src="/js/supervisor.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
<script>
    (function ($) {
        $(function () {

            $('.sidenav').sidenav();

        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>