<!--bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<head>
    <meta charset="utf-8">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<div id="manager">
    <div id="home">
        <nav class="navbar navbar-expand-lg blue navbar-light bg-light">
            <a class="navbar-brand" href="/">TM3K</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {{!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> --}}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Supervisor View</a>
                    </li>
                </ul>
                {{!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> --}}
            </div>
        </nav>
        <div class="container">
            <div class="col-sm-8">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-left">Create Job</div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group row p-4">
                                    <label>Job Name:</label>
                                    <input class="form-control" id="jobName" type="text">
                                    <label>Location:</label>
                                    <input class="form-control" id="jobLocation" type="text">

                                    <label>Type:</label>
                                    <input class="form-control" id="jobType" type="input">

                                    <label>Details:</label>
                                    <input class="form-control" id="jobDetails" type="input">

                                    <label>Employee:</label>
                                    <input class="form-control" id="employeeAdd" type="input">

                                    <button class="btn btn-blue" id="addJobButton" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-left">All Jobs</div>
                        <div class="panel-body" id="containerAllJobs">
                        </div>
                    </div>
                </div>
            </div>


        </div>