<!--bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<head>
    <meta charset="utf-8">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    {{!-- Maps api --}}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

</head>


<div id="worker">
    <h2>Jobs Status</h2>
    <div class="container">
        <div class="row">
            <!-- column -->
            <div class="col-lg-6">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-left">Job Status</div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group row">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Dropdown button
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Worker 1</a>
                                            <a class="dropdown-item" href="#">Worker 2</a>
                                            <a class="dropdown-item" href="#">Worker 3</a>
                                        </div>

                                        <div class="card-mb-4" style="border: solid black 1px; background-color: grey">
                                            <div class="card-header">Current Train Schedule</div>
                                            <div class="card-body">
                                                <table class="table table-sm table-hover" id="employee-table">
                                                    <thread>
                                                        <tr>
                                                            <th scope="col">Employee ID</th>
                                                            <th scope="col">Employee Level</th>
                                                            <th scope="col">Employee Name</th>
                                                            <th scope="col">Employee Email</th>
                                                            <th scope="col">Employee Job</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">22</th>
                                                            <th scope="col">3</th>
                                                            <th scope="col">Joe</th>
                                                            <th scope="col">joe@3000.com</th>
                                                            <th scope="col">Entry level cog in the machine</th>
                                                        </tr>

                                                    </thread>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end column -->

            <!-- column3  Row1 start-->
            <div class="col-lg-6">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-left">Directions</div>
                        <script
                            src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
                        <link rel='stylesheet'
                            href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css'
                            type='text/css' />
                        <div class="panel-body" id="containerDirections">
                        </div>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        
                        <script>
                            mapboxgl.accessToken = 'pk.eyJ1IjoiYmVhcmRlZGJlYXV0eSIsImEiOiJjazF4dnZmb3QwYzE3M2JvaTI4cGp2NXk5In0.10JhuW_E-FyCVpTADlhjpg';
                            var map = new mapboxgl.Map({
                                container: 'map',
                                style: 'mapbox://styles/mapbox/streets-v11',
                                center: [-79.4512, 43.6568],
                                zoom: 13
                            });
                            map.addControl(new MapboxDirections({
                                accessToken: mapboxgl.accessToken
                            }), 'top-left');

                            $(ajax)
                            "https://api.mapbox.com/directions/v5/mapbox/cycling/-122.42,37.78;-77.03,38.91?access_token=pk.eyJ1IjoiYmVhcmRlZGJlYXV0eSIsImEiOiJjazF4dnZmb3QwYzE3M2JvaTI4cGp2NXk5In0.10JhuW_E-FyCVpTADlhjpg"
                        </script>
                    </div>
                </div>
            </div>


        </div>