<!--bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<head>
    <meta charset="utf-8">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>


<div id="worker">
    <div id="home">
        <nav class="navbar navbar-expand-lg blue navbar-light bg-light">
            <a class="navbar-brand" href="/">TM3K</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {{!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> --}}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Employee View</a>
                    </li>
                </ul>
                {{!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> --}}
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <!-- column -->
            <div class="col-lg-6">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-left">Job Status</div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group row">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Dropdown button
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Worker 1</a>
                                            <a class="dropdown-item" href="#">Worker 2</a>
                                            <a class="dropdown-item" href="#">Worker 3</a>
                                        </div>

                                        <div class="card-mb-4" style="border: solid black 1px; background-color: grey">
                                            <div class="card-header">Current Train Schedule</div>
                                            <div class="card-body">
                                                <table class="table table-sm table-hover" id="employee-table">
                                                    <thread>
                                                        <tr>
                                                            <th scope="col">Employee ID</th>
                                                            <th scope="col">Employee Level</th>
                                                            <th scope="col">Employee Name</th>
                                                            <th scope="col">Employee Email</th>
                                                            <th scope="col">Employee Job</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">22</th>
                                                            <th scope="col">3</th>
                                                            <th scope="col">Joe</th>
                                                            <th scope="col">joe@3000.com</th>
                                                            <th scope="col">Entry level cog in the machine</th>
                                                        </tr>
                                                    </thread>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end column -->

            <!-- column3  Row1 start-->
            <div class="col-lg-6">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-left">Directions</div>
                        <div class="panel-body" id="containerDirections">
                        </div>
                    </div>
                </div>
            </div>


        </div>