/* .list-group-item {
  line-height: 2.5;
} */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card {
  border-width: 5px;
  border-color: lightgray;
  padding: 20px;
}

.card-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

h2 {
  color: grey;
}

label {
  font-size: large;
  color: black;
}

#totalMapContainer {
  width: 590px;
}

#containerDirections {
  width: 550px;
  height: 670px;
}

#workerContainer {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  #workerContainer {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  #workerContainer {
    width: 70%;
  }
}
